* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins";
    list-style: none;
    text-decoration: none;
    color: white;
    /* border: 1px solid red; */
}
html {
    scroll-behavior: smooth; /* Menambahkan efek halus saat scrolling */
}
body {
    background: linear-gradient(220deg, #7198e7 5%, #529ce1 30%, #1a3ba6 70%);
    min-height: 100vh;
    width: 100%;
    /* overflow-x: hidden; */
}
:root {
    --box-shadow: 2px 2px rgba(0, 0, 0, 0.4);
    --border-top: 1px solid rgba(255, 255, 255, 0.397);
    --border-left: 1px solid rgba(255, 255, 255, 0.397);
}
/* ==================================== */
/* ==================================== */
/* ========== Header Section ========== */
/* ==================================== */
/* ==================================== */
header {
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: auto;
    z-index: 999;
    padding: 10px 5%;
    background: rgba(255, 255, 255, 0.15);
    backdrop-filter: blur(20px);
    border-radius: 10px;
    left: 4%;
    right: 4%;
    top: 1%;
}
header:hover {
    box-shadow: var(--box-shadow);
    border-top: var(--border-top);
    border-left: var(--border-left);
}
.logo {
    font-family: "Pacifico";
    font-weight: 900;
    font-size: 22px;
}
.navlist {
    width: 60%;
    display: flex;
    justify-content: space-evenly;
}
.navlist a {
    border-bottom: 2px solid transparent;
    font-size: 14px;
    transition: all 0.5s ease;
    display: flex;
    align-items: center;
}
.navlist a:hover {
    border-bottom: 2px solid white;
}
.bx-menu {
    font-size: 35px;
    z-index: 1000;
    cursor: pointer;
    display: none;
}
/* ==================================== */
/* ==================================== */
/* ============= Home Page ============ */
/* ==================================== */
/* ==================================== */
#home {
    display: flex;
    padding: 5%;
}
.photo-container {
    perspective: 750px; /* Menentukan jarak pandang 3D */
    display: inline-block; /* Agar elemen dapat diatur dengan transformasi */
}
.photo {
    width: 300px; /* Atur lebar gambar sesuai kebutuhan */
    border-radius: 20px; /* Membuat sudut gambar membulat */
    border: 5px solid #e6e6e6; /* Border untuk gambar */
    box-shadow: 0 70px 40px -20px rgba(0, 0, 0, 0.2); /* Bayangan gambar */
    transition: 0.4s ease-in-out transform; /* Transisi efek */
    transform: perspective(750px) translate3d(0px, 0px, -250px) rotateX(27deg)
        scale(0.9, 0.9); /* Efek awal */
}
.photo:hover {
    transform: translate3d(0px, 0px, -250px);
}
.area-photo {
    display: inline-block;
    padding: 10px;
    margin: 8% 2% 0 8%;
    backdrop-filter: blur(5px);
    background: rgba(255, 255, 255, 0.15);
    border-radius: 20px;
}
.area-photo:hover {
    box-shadow: var(--box-shadow);
    border-top: var(--border-top);
    border-left: var(--border-left);
}
.container {
    padding: 1%;
    margin-top: 8%;
    display: flex-box;
    text-align: center;
}
.judul {
    display: inline-block;
    width: auto;
    padding: 1%;
    align-items: center;
    font-family: "Permanent Marker";
    font-size: 55px;
}
.identitas {
    text-align: start;
    font-size: 16px;
}
.isi {
    text-align: justify;
    font-size: 14px;
}

/* ==================================== */
/* ==================================== */
/* =========== About Me Page ========== */
/* ==================================== */
/* ==================================== */
#about {
    padding: 10% 10% 0 10%;
    text-align: justify;
    display: none;
}
#about p {
    font-size: 14px;
}
#about ul {
    padding-left: 1.5%;
}
#about ul li {
    font-size: 14px;
    list-style: circle;
}
/* =================================== */
/* =================================== */
/* =========== Project Page ========== */
/* =================================== */
/* =================================== */
#project {
    width: 100%;
    display: flex;
}
#project ul {
    padding-top: 7%;
}
#project ul li {
    background: rgba(255, 255, 255, 0.15);
    display: flex;
    margin: 1% 5% 2% 5%;
    border-radius: 20px;
    padding: 5px;
    animation: effect linear;
    animation-timeline: view();
    animation-range: entry 0% cover 20%;
}
#project ul li:hover {
    box-shadow: var(--box-shadow);
    border-top: var(--border-top);
    border-left: var(--border-left);
}
#project img {
    border-radius: 20px;
    width: 200px;
    height: 200px;
    margin-right: 10px;
    padding: 5px;
}
#project img:hover {
    box-shadow: 2px 2px rgba(0, 0, 0, 0.4);
    border-top: 1px solid rgba(255, 255, 255, 0.397);
    border-left: 1px solid rgba(255, 255, 255, 0.397);
}
.project-isi {
    text-align: justify;
    width: auto;
    padding: 5px;
}
.project-isi h1 {
    margin-bottom: 5px;
}
.project-isi p {
    margin-bottom: 2px;
    font-size: 14px;
}
.project-isi span {
    margin-bottom: 2px;
    font-size: 14px;
}
.project-teknologi {
    display: inline;
}
.project-teknologi + span {
    display: inline;
}
@keyframes effect {
    from {
        opacity: 0;
        scale: 0.5;
    }
    to {
        opacity: 1;
        scale: 1;
    }
}
/* ==================================== */
/* ==================================== */
/* ========== Contact Dropdown ======== */
/* ==================================== */
/* ==================================== */
.contact.show {
    right: 0px;
}
.contact {
    position: fixed;
    background-color: rgb(255, 255, 255);
    z-index: 999;
    top: 14vh;
    right: -500px;
    padding: 0.1%;
    width: 40%;
    border-radius: 10px 0 0 10px;
    transition: right 2.5s;
}
.contact:hover {
    box-shadow: var(--box-shadow);
    border-top: var(--border-top);
    border-left: var(--border-left);
    transition: box-shadow 0.1s, border-top 0.1s, border-left 0.1s;
}
.contact ul li a svg {
    fill: black;
}
.contact ul {
    display: flex;
    justify-content: space-between;
    padding: 0 3% 0 3%;
}
.contact ul li a {
    display: flex;
    align-items: center;
}
.contact ul li a span {
    font-size: 12px;
    margin-left: 2px;
    color: black;
}
.contact ul li a:hover {
    span {
        border-bottom: 1.5px solid rgba(0, 0, 0, 0.5);
    }
}
